@import "tailwindcss";
@import "leaflet/dist/leaflet.css"
*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar, ::-moz-scrollbar {
    display: none;
}
.leaflet-container{
    width:100%;
    height:100%;
    z-index:0;
}
.leaflet-animated{
    stroke-dashoffset: 1000;
    animation: dashmove 2s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}